.wrap {
  width: 100%;
  h1 {
    text-align: center;
    width: 100%;
  }
}
.createNew {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.cultivation {
  border-bottom: solid 1px black;
  cursor: pointer;
  margin: 5rem 0;
}
table {
  border-collapse: unset;
}